[submodule "dnsmasq"]
	path = dnsmasq
	url = https://gitlab.ii.org.nz/iichip/dnsmasq.git
	branch = resin
[submodule "atftpd"]
	path = atftpd
	url = https://gitlab.ii.org.nz/iichip/atftpd.git
	branch = resin
[submodule "debian-stretch"]
	path = debian-stretch
	url = https://gitlab.ii.org.nz/iichip/debian-stretch.git
