[submodule "dnsmasq"]
	path = dnsmasq
	url = git@gitlab.ii.org.nz:iichip/dnsmasq.git
	branch = resin
[submodule "atftpd"]
	path = atftpd
	url = git@gitlab.ii.org.nz:iichip/atftpd.git
	branch = resin
[submodule "coreos"]
	path = coreos
	url = git@gitlab.ii.org.nz:iichip/coreos.git
	branch = coreos
